#project {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
#project h1{
  font-size: 4vmax;
  background-image: linear-gradient(to right, rgb(205, 66, 73), white);
  background-clip: text;
  color: transparent;
  text-align: center;
}
.slider {
  width: 90%;
  height: 300px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  gap: 30px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}
